<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments.html :: head(title='Admin list', path='/css/index.css')">
<body>
<header>
    <main>
        <div class="menu-bar">
            <i class="fas fa-bars"></i>
        </div>
        <div class="logo">
            <img src="/images/logo.png)" alt="">
        </div>

        <div class="link">
            <a th:href="@{/panel/superAdmin/}"> Organization</a>
            <a th:href="@{/organization/}">User control</a>
        </div>
    </main>

    <aside>
        <nav>
            <div class="input">
                <div>
                    <i class="fas fa-search"></i>
                </div>

                <input type="text" placeholder="Search">
            </div>

            <div class="user-information">
                <div class="icon">
                    <a th:href="@{/auth/logout}" class="btn btn-outline-danger">logout</a>
                </div>

                <div class="user">
                    <img src="/images/useer.png" alt="">
                    <p>Mushkityorlar
                        <i class="fas fa-angle-down"></i>
                    </p>
                </div>

            </div>

        </nav>

        <div style="width: 90%;margin: 0 auto
">
            <div class="my-5"><a th:href="@{/admin/create/}" class="btn btn-success">Create admin</a></div>
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">profile_image</th>
                    <th scope="col">UserName</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user,iter :  ${users}">
                    <th th:text="${iter.count}"></th>
                    <th><img th:src="@{${user.profile_image}}"
                             style="width: 50px;height: 50px; border-radius: 50%;border: 2px solid red"/></th>
                    <th th:text="${user.username}"></th>
                    <th th:text="${user.email}"></th>
                    <th th:text="${user.phone}"></th>
                    <th class="icons">
                        <a th:href="@{/admin/detail/{id}/(id = ${user.id})}" class="btn btn-outline-info">Detail👁</a>
                        <!--<a href="#">🔐</a>
                        <a href="#">🔓</a>-->
                        <a th:href="@{/admin/delete/{id}/(id=${user.id})}" class="btn btn-outline-danger">Delete 🗑</a>
                        <a th:href="@{/admin/update/{id}/(id=${user.id})}" class="btn btn-outline-primary">Update 🔄</a>

                    </th>
                </tr>
                </tbody>
            </table>
        </div>


    </aside>

</header>

<script>
    const menu = document.querySelector(".menu-bar")
    const main = document.querySelector("main")
    menu.addEventListener("click", () => {
        main.classList.toggle("open")
    })
</script>
</body>
</html>
