<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments.html :: head(title='Manager Panel', path='/css/index.css')">
<body>
<header>
    <main>
        <div class="menu-bar">
            <i class="fas fa-bars"></i>
        </div>
        <div class="logo">
            <img src="/images/logo.png" alt="">
        </div>

        <div class="link">
            <a th:href="@{/panel/superAdmin/}"> Organization</a>
            <a th:href="@{/user/admin/}">Admin control</a>
        </div>
    </main>

    <aside>
        <nav>
            <div class="input">
                <div>
                    <i class="fas fa-search"></i>
                </div>

                <input type="text" placeholder="Search">
            </div>

            <div class="user-information">
                <div class="icon">
                    <a th:href="@{/auth/logout}" class="btn btn-outline-danger">logout</a>
                </div>

                <div class="user">
                    <img src="/images/useer.png" alt="">
                    <p>Mushkityorlar
                        <i class="fas fa-angle-down"></i>
                    </p>
                </div>

            </div>

        </nav>

        <div class="container">
            <div class="contents">
                <a th:href="@{/organization/create/}" class="btn btn-success">Create Organization</a>
                <a th:href="@{/organization/list/}" class="btn btn-success">Create update</a>
                <a th:href="@{/organization/list/}" class="btn btn-success">Create list</a>
                <a th:href="@{/organization/list/}" class="btn btn-success">Create delete</a>
            </div>
        </div>
    </aside>

</header>

<script>
    const menu = document.querySelector(".menu-bar")
    const main = document.querySelector("main")
    menu.addEventListener("click", () => {
        main.classList.toggle("open")
    })
</script>
</body>
</html>