<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments.html :: head(title='Member deteils', path='/css/index.css')"></head>
<main>
    <div class="container" style="overflow: hidden">
        <h2 th:text="${member.username}" class="text-primary"></h2>
        <div class="row">
            <div class="col-4">
                <div class="card border-primary mb-3" style="max-width: 18rem;">
                    <div class="card-header">Super Admin Profil Image</div>
                    <div class="card-body text-primary">
                        <img th:src="@{${member.profileImage}}" alt="" class="card-img">
                    </div>
                </div>
            </div>
            <div class="col-8">
                <ul class="list-group">
                    <li class="list-group-item active" th:text="${member.username}"></li>
                    <li class="list-group-item" th:text="${member.language}"></li>
                    <li class="list-group-item" th:text="${member.email}"></li>
                </ul>
                <a th:href="@{/member/delete/{id}/(id=${member.id})}"
                   class="btn btn-outline-danger">Delete</a>
                <a th:href="@{/member/update/{id}/(id=${member.id})}"
                   class="btn btn-outline-primary">Update</a>

                <a th:href="@{/user/member/}" class="btn btn-warning my-4 p-2 text-white"><= Back</a>
            </div>
        </div>
    </div>
</main>
</body>
</html>