<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments.html :: head(title='Manager control', path='/css/index.css')">
<body>

<header>
    <main>
        <div class="menu-bar">
            <i class="fas fa-bars"></i>
        </div>
        <div class="logo" style=" margin-right: 20px;
        margin-left: -60px;
        margin-top: -100px;">
            <img src="/images/logo.png" alt="" style="width: 100%">
        </div>

        <div class="link">
            <a th:href="@{/panel/admin/}">Project</a>
            <a th:href="@{/user/member/}">Member control</a>
            <a th:href="@{/user/admin/}">Admin control</a>
            <a th:href="@{/user/manager/}">Manager control</a>
        </div>
    </main>

    <aside>
        <nav>
            <div class="input">
                <div>
                    <i class="fas fa-search"></i>
                </div>

                <input type="text" placeholder="Search">
            </div>


            <div class="user-information">
                <div class="icon">
                    <a th:href="@{/auth/logout}" class="btn btn-outline-danger">logout</a>
                </div>

                <div class="user">
                    <img src="/images/useer.png" alt="">
                    <p>Mushkityorlar
                        <i class="fas fa-angle-down"></i>
                    </p>
                </div>

            </div>

        </nav>
        <div class="container" style="width:100%;">
            <button type="button" class="btn btn-success my-3" data-toggle="modal"
                    data-target="#createMemberModal">+ Create manager
            </button>
            <div class="modal fade" id="createMemberModal" tabindex="-1" role="dialog"
                 aria-labelledby="createMemberModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="createMemberModalLabel">Create member for project</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true" class="text-danger">&times;</span>
                            </button>
                        </div>
                        <form th:action="@{/user/create/}" th:method="post"
                              enctype="multipart/form-data">

                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="username">User Name</label>
                                    <input type="text" class="form-control" id="username" name="username"/>
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" class="form-control" id="password" name="password"/>
                                </div>
                                <div class="form-group">
                                    <label for="logo">profile image</label>
                                    <input type="file" class="form-control" id="logo" name="profileImage"/>
                                </div>
                                <div class="form-group">
                                    <label for="phone">Phone</label>
                                    <input type="text" class="form-control" id="phone" name="phone"/>
                                </div>
                                <div class="form-group">
                                    <label for="email">Email address</label>
                                    <input type="email" class="form-control" name="email" id="email"/>
                                </div>
                                <div class="form-group">
                                    <label for="language">Language</label>
                                    <select id="language" name="language" class="form-control">
                                        <option>UZ</option>
                                        <option>RU</option>
                                        <option>EN</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="role">ROLE</label>
                                    <select id="role" name="role" class="form-control">
                                        <!--                                <option name="role_name" value="SUPER_ADMIN">SUPER_ADMIN</option>-->
                                        <option name="role_name" value="ADMIN">ADMIN</option>
                                        <option name="role_name" value="MANAGER">MANAGER</option>
                                        <option name="role_name" value="MEMBER">MEMBER</option>
                                    </select>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-success">Save</button>

                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="content" style="grid-template-columns: 1000px">
                <div class="contents">
                    <div class="content-text" style="margin-bottom: 20px">
                        <p>Managers</p>
                        <p>Export</p>
                    </div>
                    <div th:each="manager : ${managers}">
                        <a th:href="@{/manager/detail/{id}/(id= ${manager.id})}"
                           style="text-decoration: none">
                            <div class="box">
                                <p th:text="${manager.username}"></p>
                                <div class="box-text">
                                    </span>
                                    <span>
                                        <img th:src="@{/images/sunrise.png}" alt="">
                                        <span th:text="${manager.email}"></span>
                                    </span>
                                    <span>
                                       <img th:src="@{/images/users.png}" alt="">
                                        <span th:text="${manager.getRole().getCode()}"></span>
                                    </span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </aside>
</header>


<script>
    const menu = document.querySelector(".menu-bar")
    const main = document.querySelector("main")
    menu.addEventListener("click", () => {
        main.classList.toggle("open")
    })

</script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>